/* Media Query 280px */

@media (min-width: 280px) {
    /*Header Section*/
    .hed-col1 h1 {
        font-size: 18px;
    }

    .hed-col2 ul {
        display: none;
    }

    .hed-col2 li {
        padding: 10px 0;
    }

    .burger {
        display: inline-block;
    }
    /*Home section */
    .home-row {
        display: flex;
        flex-wrap: wrap;
    }

    .home-col1 {
        width: 100%;
    }

    .home-col1 h1 {
        font-size: 16px;
    }

    .home-col1 h3 {
        font-size: 13px;
    }

    .home-col2 {
        width: 100%;
        padding: 30px 0;
        display: flex;
        justify-content: center;
    }

    .home-col2 button {
        width: 100px;
        height: 30px;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .home-col3 {
        width: 100%;
    }

    .home-col3 a {
        font-size: 25px;
    }
    /*About Section*/
    .about-con span {
        font-size: 15px;
    }

    .about-con span h2::after {
        width: 100px;
        left: calc(50% - 50px);
        height: 2px;
    }

    .about-row {
        display: flex;
        flex-wrap: wrap;
    }

    .about-col1 {
        width: 100%;
        padding-top: 30px;
    }

    .about-profile h3 {
        font-size: 15px;
    }

    .about-profile span {
        font-size: 16px;
    }

    .about-col2 {
        width: 100%;
    }

    .about-para {
        font-size: 16px;
    }

    .about-box2 h1 {
        font-size: 22px;
    }

    .about-box2 h2 {
        font-size: 20px;
    }

    .about-box2 p {
        font-size: 16px;
    }

    /*skills Section*/

    .skill-row {
        display: flex;
        flex-wrap: wrap;
    }

    .skill-col {
        width: 100%;
        padding: 10px 0;
    }

    /*Project Section*/

    .port-row {
        display: flex;
        flex-wrap: wrap;
    }

    .port-col {
        width: 100%;
    }

    /*Contact Section*/

    .con-row {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .con-col {
        width: 100%;
    }

    /*Footer Section*/

    .footer-sec span {
       display: block;
    }
}

/* Media Query 600px */

@media (min-width: 600px) {
    /*Header Section*/

    .hed-col2 ul {
      display: flex;
      flex-wrap: wrap;
    }

    .hed-col2 li {
        padding: 10px 10px;
    }

    .burger {
        display: none;
    }
    /*Home section */
    .home-row {
        display: flex;
    }

    .home-col1 {
        width: 60%;
    }

    .home-col1 h1 {
        font-size: 20px;
    }

    .home-col1 h3 {
        font-size: 18px;
    }

    .home-col2 {
        width: 40%;
        padding: 30px 0;
        display: flex;
        justify-content: center;
    }

    .home-col2 button {
        width: 120px;
        height: 30px;
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .home-col3 {
        width: 50%;
    }

    .home-col3 a {
        font-size: 50px;
    }

    /*About Section*/

    .about-con span {
        font-size: 18px;
    }

    .about-con span h2::after {
        width: 120px;
        left: calc(50% - 60px);
        height: 2px;
    }

    .about-row {
        display: flex;
        flex-wrap: wrap;
    }

    .about-col1 {
        width: 100%;
        padding-top: 30px;
    }

    .about-profile h3 {
        font-size: 18px;
    }

    .about-profile span {
        font-size: 19px;
    }

    .about-col2 {
        width: 100%;
    }

    .about-para {
        font-size: 18px;
    }

    .about-box2 h1 {
        font-size: 22px;
    }

    .about-box2 h2 {
        font-size: 20px;
    }

    .about-box2 p {
        font-size: 18px;
    }

    /*skills Section*/

    .skill-row {
        display: flex;
        flex-wrap: wrap;
    }

    .skill-col {
        width: 50%;
        padding: 10px 0;
    }

    /*Project Section*/

    .port-row {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .port-col {
        width: 70%;
    }

    /*Contact Section*/

    .con-row {
        display: flex;
        flex-wrap: wrap;
    }

    .con-col {
        width: 48%;
    }

    /*Footer Section*/

    .footer-sec span {
       display: inline;
    }
}

/* Media Query 1020px */

@media (min-width: 1020px) {
    /*Header Section*/

    .hed-col1 h1 {
        font-size: 30px;
    }

    .hed-col2 ul {
      display: flex;
      flex-wrap: wrap;
    }

    .hed-col2 li {
        padding: 10px 20px;
    }

    .burger {
        display: none;
    }
    /*Home section */
    .home-row {
        display: flex;
    }

    .home-col1 {
        width: 60%;
    }

    .home-col1 h1 {
        font-size: 26px;
    }

    .home-col1 h3 {
        font-size: 22px;
    }

    .home-col2 {
        width: 40%;
        padding: 30px 0;
        display: flex;
        justify-content: center;
    }

    .home-col2 button {
        width: 150px;
        height: 50px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .home-col3 {
        width: 50%;
    }

    .home-col3 a {
        font-size: 70px;
    }

    /*About Section*/

    .about-con span {
        font-size: 20px;
    }

    .about-con span h2::after {
        width: 120px;
        left: calc(50% - 60px);
        height: 2px;
    }

    .about-row {
        display: flex;
    }

    .about-col1 {
        width: 50%;
        padding-top: 30px;
    }

    .about-profile h3 {
        font-size: 18px;
    }

    .about-profile span {
        font-size: 19px;
    }

    .about-col2 {
        width: 50%;
    }

    .about-para {
        font-size: 18px;
    }

    .about-box2 h1 {
        font-size: 22px;
    }

    .about-box2 h2 {
        font-size: 20px;
    }

    .about-box2 p {
        font-size: 18px;
    }

    /*skills Section*/

    .skill-row {
        display: flex;
        flex-wrap: wrap;
    }

    .skill-col {
        width: 33.3%;
        padding: 10px 0;
    }

    /*Project Section*/

    .port-row {
        display: flex;
        flex-wrap: nowrap;
    }

    .port-col {
        width: 33.3%;
    }

    /*Contact Section*/

    .con-row {
        display: flex;
        flex-wrap: nowrap;
    }

    .con-col {
        width: 25%;
    }

    /*Footer Section*/

    .footer-sec span {
       display: inline;
    }
}






















